@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #23282b;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: 'gg sans', sans-serif;
  background-color: var(--background);
}

header {
  margin: 0;
}
